/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } */
  
  .custom-tooltip .ant-tooltip-inner {
    color: #000;
    background-color: #e99a42; 
  }
  
    